/***********
    GLOBAL
***********/


html {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin: auto;
}




/************
    HEADER
************/
header {
    border-bottom: 4px solid #000000;
    width: 100%;
    
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color : #dae8ed;
}

.logo-container {
    padding: 15px;
    margin-top: 15px;
}

.title-container {
    text-align: center;
    margin-left: auto;
    line-height: 50%;
    padding: 15px;
}

/************
    HERO
************/
#hero-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #d0d6d8;
}

.hero figure {
    position: relative;
    overflow: hidden;
    align-content: center;
}

.hero figure img {
    width: 100%;
    display: block;
}

.hero figcaption {
    text-align: center;
}


/*************
    FEATURED WORK
*************/
#featured-work {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 320px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #d0d6d8;
}

h5 {
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    }

.card img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    padding: 5px;
}


/***********
    FOOTER
***********/

.footer-container {
    display: flex;
    flex-direction: column;
    border-top: 4px solid #000000;
    margin: auto;
    text-align: center;
    line-height: 5px;
    background-color: #dae8ed;
}


/************
    RESPONSIVE
************/

@media screen and (min-width: 375px) {
    html,
    #hero-container,
    #featured-work,
    .card img {
        max-width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    html,
    .card img {
        max-width: 100%;
        background-color: #fff;
        margin: auto;
    }

    #hero-container {
        width: 50%;
        background-color: #fff;
    }

    figcaption {
        padding: 10px;
    }

    #featured-work {
        background-color: #fff;
    }

    h2 {
        display: block;
        flex-wrap: nowrap;
        position: relative;
        justify-content: flex-start;
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        padding: 10px;
        max-width: 100%;
        max-height: auto;
    }

    .card img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        padding: 5px;
    }
}

